In [4]:
import pandas as pd
import numpy as np
pd.set_option('display.float_format', lambda x: '%.6f' % x)

In [11]:
df_glucose = pd.read_csv('Glucose_measurements_sample.csv', dtype={'Glucose_measurements' : int})
df_glucose

        Patient_ID Measurement_date Measurement_time  Measurement
0        LIB193263       2020-06-09         19:08:00           99
1        LIB193263       2020-06-09         19:23:00           92
2        LIB193263       2020-06-09         19:38:00           86
3        LIB193263       2020-06-09         19:53:00           85
4        LIB193263       2020-06-09         20:08:00           85
...            ...              ...              ...          ...
2999995  LIB193424       2022-01-02         01:05:00          207
2999996  LIB193424       2022-01-02         01:20:00          215
2999997  LIB193424       2022-01-02         01:35:00          218
2999998  LIB193424       2022-01-02         01:50:00          222
2999999  LIB193424       2022-01-02         02:05:00          220

[3000000 rows x 4 columns]

In [20]:
df_glucose.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3027433 entries, 0 to 3027432
Data columns (total 4 columns):
 #   Column            Dtype
---  ------            -----
 0   Patient_ID        object
 1   Measurement_date  object
 2   Measurement_time  object
 3   Measurement       int64
dtypes: int64(1), object(3)
memory usage: 92.4+ MB

In [21]:
df_glucose.describe()

         Measurement
count 3027433.000000
mean      159.022176
std        65.449089
min        40.000000
25%       110.000000
50%       148.000000
75%       197.000000
max       500.000000

In [10]:
df_glucose.quantile([.01,.05,.10,.15,.25,.50,.75,.85,.90,.999])

          Measurement
0.010000    54.000000
0.050000    72.000000
0.100000    85.000000
0.150000    95.000000
0.250000   110.000000
0.500000   148.000000
0.750000   197.000000
0.850000   227.000000
0.900000   248.000000
0.999000   446.000000

In [6]:
df_glucose['Patient_ID'].value_counts()

LIB193277    114598
LIB193385    114107
LIB193307    104058
LIB193309     77289
LIB193367     76925
              ...
LIB193414      1588
LIB193366      1287
LIB193398      1253
LIB193283      1098
LIB193365      1057
Name: Patient_ID, Length: 110, dtype: int64

In [23]:
df_glucose['Measurement_date'].value_counts()

2021-10-25    6730
2021-10-26    6680
2021-11-02    6666
2021-11-11    6578
2021-11-07    6574
              ...
2018-04-11      40
2018-03-02      36
2018-05-13      34
2018-03-27      29
2018-02-21      17
Name: Measurement_date, Length: 1431, dtype: int64

In [24]:
print('First date: ', df_glucose['Measurement_date'].min())
print('Final date: ', df_glucose['Measurement_date'].max())

First date:  2018-02-21
Final date:  2022-03-21

- Distance between measurements 15 minutes generally.
- Maybe long gaps between measurements